<div>
  <md-card>
  <md-card-subtitle>Question: {{qItem.questionID +1}}</md-card-subtitle>
  <md-card-title>{{qItem.questionLabel}}</md-card-title>

    <search-question *ngIf="qItem.answerType==SEARCHSELECTION" [qItem]="qItem"></search-question>

    <singleselection-question *ngIf="qItem.answerType==SINGLESELECTION" [qItem]="qItem"></singleselection-question>

    <valueinsert-question *ngIf="qItem.answerType==VALUEINSERT" [qItem]="qItem"></valueinsert-question>

    <multiselect-question *ngIf="qItem.answerType==MULTISELECTION" [qItem]="qItem"></multiselect-question>


</md-card>
</div>

