<md-card-content>
<md-radio-group class="radio-group">
  <div *ngFor="let aItem of qItem.answerList">
  <md-radio-button class="radio-button"
                   [value]="aItem.answerID"
                   (click)="handleSingleSelect(aItem.answerID)">
    {{aItem.answerLabel}}
  </md-radio-button>
  </div>
</md-radio-group>
</md-card-content>
<md-card-actions>
  <button md-raised-button md-button (click)="nextQuestion()" [disabled]="answerCode==='' || answerCode==null" >Next</button>
</md-card-actions>

